.nodeIcon
{
  cursor: move;
}

.nodeActionIcon
{
  opacity:0.75;
  -ms-filter:'alpha(opacity=75)'; /* For IE8 and earlier */
}

p
{
  margin: .2em;
  margin: .6em 0em .6em 0em;
  padding: 0;
}

table
{
  width: 100%;
  margin: 0;
  padding: 0;
  border-spacing: 0;
}

td
{
  margin: 0;
  padding: 0;
}

#views
{
  color: #aaa;
  text-align: left;
  font-size: xx-small;
}

#updated
{
  color: #aaa;
  text-align: right;
  font-size: xx-small;
}

#nodeMenu
{
  text-align: right;
}

#nodeMenu > a
{
  font-size: smaller;
  padding: 0 .4em 0 .4em;
  border-radius: 0.2em;
  text-decoration: none;
  color: #666;
  margin: 0;
}

#nodeMenu > a:hover
{
  color: #222;
  background: #AAA;
  font-style: normal;
}

.summaryText
{
  cursor: move;
  background: none;
  padding: 0em .8em 0em .8em;
  margin: 0em;
}

.summaryTextObject
{
  padding: 0;
  margin: 0;
}

.summaryBackground
{
  fill: black;
  opacity: 0.05;
}

.clickText
{
  background: transparent;
  font-size: 14px;
}
