.nodeImage
{
  cursor: pointer; /* progress; crosshair; move; */
}

.nodeIcon, .summaryIcon
{
  cursor: pointer;
  opacity:0.75;
  -ms-filter:'alpha(opacity=75)'; /* For IE8 and earlier */
  visibility:hidden;
}

.summaryText
{
  fill: #888;
  font:bold 20px Courier New;
  opacity:0.8;
  -ms-filter:'alpha(opacity=80)'; /* For IE8 and earlier */
  visibility:hidden;
}

.nodeText
{
  fill: #888;
  font:bold 18px Courier New;
  opacity:0.8;
  -ms-filter:'alpha(opacity=80)'; /* For IE8 and earlier */
  visibility:hidden;
}

.clickText
{
  fill: #888;
  font:bold 14px Courier New;
  opacity:0.8;
  -ms-filter:'alpha(opacity=80)'; /* For IE8 and earlier */
  visibility:hidden;
}

.node:hover > .summaryIcon:hover + .summaryText
{
  visibility:visible;
}

.node:hover > .nodeIcon:hover + .clickText
{
  visibility:visible;
}

/* when hover over a node, expose detail */

.node:hover .nodeIcon
{
  visibility:visible;
}

.node:hover .summaryIcon
{
  visibility:visible;
}

.node:hover .nodeText
{
  visibility:visible;
}

line.link 
{
  fill: none;
  stroke: #D0D0D0;
  stroke-width: 5px;
  stroke-linecap: round;
}