image.node 
{
  cursor: move; /* progress; //crosshair; //pointer; */
}

line.link 
{
  fill: none;
  stroke: #D0D0D0;
  stroke-width: 5px;
  stroke-linecap: round;
}

text
{
  fill: #909090;
  font:bold 20px Courier New;
}
