.nodeIcon
{
  cursor: pointer; /* progress; crosshair; move; */
}

.nodeActionIcon
{
  cursor: pointer;
  opacity:0.75;
  -ms-filter:'alpha(opacity=75)'; /* For IE8 and earlier */
}

.summaryText
{
  padding-left: 1em;
}

.clickText
{
  font-size: 14px;
}
