.nodeIcon
{
  cursor: pointer; /* progress; crosshair; move; */
}

.nodeActionIcon
{
  cursor: pointer;
  opacity:0.75;
  -ms-filter:'alpha(opacity=75)'; /* For IE8 and earlier */
}

.nodeMenu
{
  font-size: smaller;
}

.nodeMenu > a:visited
{
  color: #aaa;
}

.nodeMenu > a:link
{
  color: #666;
}

.summaryText
{
  padding-left: 1em;
}

.clickText
{
  font-size: 14px;
}
