.uri-icon
{
  fill: #fc0;
  stroke: #f22;
  stroke-width: 0px;
  cursor: pointer;
}

.blank-icon
{
  fill: white;
  stroke: #888;
  stroke-width: 8px;
}

.literal-icon
{
  fill: #888;
  stroke: #f22;
  stroke-width: 0px;
}
