.uri-icon
{
  fill: #fc0;
  stroke: #f22;
  stroke-width: 0px;
  cursor: pointer;
}

.blank-icon
{
  fill: white;
  stroke: #888;
  stroke-width: 6px;
}

.literal-icon
{
  fill: #888;
  stroke: #f22;
  stroke-width: 0px;
}

.link
{
  stroke: #ffd;
  stroke-width: 1em;
}

.predicateText
{
}

.predicateArrow
{
  fill: lightgrey;
}

.nodeCircle
{
  fill: #ffd;
}

.circleText
{
  fill: black;
  text-anchor: middle;
}
