html, body, #map
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font: bold 15px sans-serif;
  color: #666;
}

markers, .markers svg 
{
  position: absolute;
}

.markerShape
{
  fill:  #44c;
  stroke: #3838b8;
  visibility: visible;
  cursor: pointer;
}

.markerShape:hover
{
  stroke: white;
}

table, tr, td, span
{
  cellspacing: 0px;
  cellpadding: 0px;
  border-collapse: collapse;
}

#summary
{
/*   background: lightblue; */
  width: 100%;
  height: 100%;
  border: 10px solid transparent;
}

#summarySubtable
{
/*   background: yellow; */
  width: 100%;
  height: 100%;
}

#magnitudeText
{
/*   background: orange; */
  width: 1em;
  font-size: 65px;
  color:  #44c;
  padding-left: 10px;
}

#timeTable
{
  width: 100%;
  height: 100%;
}

#date
{
/*   background: lightblue; */
  font-size: 17px;
  text-align: left;
  vertical-align: bottom;
  padding-left: 15px;
}

#time
{
/*   background: lightgreen; */
  font-size: 17px;
  text-align: left;
  padding-left: 15px;
  vertical-align: top;
}

#zone
{
/*   background: pink; */
  vertical-align:text-top;
}


#region
{
/*   background: lightblue; */
  height: 2.1em;
  padding-bottom: 10px;
  text-align: center;
}

#summarySubtable
{
  border-collapse: separate;
}

.label
{
/*   background: lightgreen; */
/*   text-transform:capitalize; */
  text-transform:uppercase;
/*   vertical-align:text-top; */
/*   font-size: 8px; */
  font-size: 12px;
  text-align: right;
  color: #aaa;
}

.value
{
/*   background: lightblue; */
  font-size: 12px;
/*   font-weight: normal; */
  text-align: left;
  color: #444;
}

.quakeDetail
{
  fill: blue;
}

.quakeDetailLine
{
  stroke: #888;
  stroke-width: 1.5px;
  fill: white;
}

.age
{
  font-size: 12px;
  fill: white;
}

.magnitude
{
  font-size: 12px;
  fill: black;
}

.magnitude > circle
{
  fill: black;
}

.magnitude > line, .magnitude > path
{
  stroke-width: 2;
  stroke: #000;
  opacity: 0.5;
  stroke-linecap: round;
}

#keyInner
{
  background: white;
  border: 2px solid #888;
  width: 100%;
  height: 100%;
}

#keyHeader
{
/*   background: lightgreen; */
  width: 100%;
  height: 25%;
}


#keyHeaderTable
{
/*   background: orange; */
  width: 100%;
  height: 100%;
  text-align: center;
}

#chartDiv
{
/*   background: lightblue; */
  height: 75%;
  width: 100%;
}

#chartSvg
{
/*   background: yellow; */
  font: 10px sans-serif;
  height: 100%;
  width: 100%;
}

#detailDiv
{
/*   background: lightgreen; */
  width: 100%;
  height: 25%;
}

#detailSvg
{
/*   background: red; */
  height: 100%;
  width: 100%;
}

.axis line, .axis path
{
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.axis text
{
  fill: #888;
}

.chartQuakes
{
  fill-opacity: 0.50;
  fill: #44c;
}

.unselected
{
  fill: #aaa;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

