.nodeIcon
{
  cursor: move;
}

.nodeActionIcon
{
  opacity:0.75;
  -ms-filter:'alpha(opacity=75)'; /* For IE8 and earlier */
}

p
{
  margin: 0.5em;
}

table
{
  width: 100%;
}

td
{
}

.nodeMenu
{
  font-size: smaller;
}

.nodeMenu > a:visited
{
  color: #aaa;
}

.nodeMenu > a:link
{
  color: #666;
}

.summaryText, .summaryTextObject
{
  cursor: move;
  border-radius: 15px;
  background-color: red;
  background: rgba(0,0,0,0.05);
  padding: 0.5em;
}

.clickText
{
  background: transparent;
	font-size: 14px;
}
