.nodeIcon
{
  cursor: move;
}

.nodeActionIcon
{
  opacity:0.75;
  -ms-filter:'alpha(opacity=75)'; /* For IE8 and earlier */
}

p
{
  margin: 0.5em 0em 1em 0em;
  padding: 0;
}

table
{
  width: 100%;
  margin: 0;
  padding: 0;
  border-spacing: 0;
}

td
{
  margin: 0;
  padding: 0;
}

.nodeMenu
{
  font-size: smaller;
}

.nodeMenu > a:visited
{
  color: #666;
  text-decoration: none;
}

.nodeMenu > a:link
{
  color: #666;
  text-decoration: none;
}

.summaryText
{
  cursor: move;
  background: none;
  padding: 0.25em 1em 0em 1em;
  margin: 0;
}

.summaryTextObject
{
  padding: 0;
  margin: 0;
}

.clickText
{
  background: transparent;
  font-size: 14px;
}
