html, body, #map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.readings, .readings svg {
  position: absolute;
}

.readings svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
}

.readings circle {
}
