.node
{
}

.uri-icon
{
  fill: #fc0;
  stroke: #f22;
  stroke-width: 0px;
}

.blank-icon
{
  fill: white;
  stroke: #888;
  stroke-width: 6px;
}

.literal-icon
{
  fill: #888;
  stroke: #f22;
  stroke-width: 0px;
}

.link 
{
  fill: red;
  stroke: red;
  stroke-width: 1em;
}

.linkPath
{
  stroke: #eee;
  stroke-width: 1em;
}

.predicateText
{
  fill: #888;
}

.linkText
{
  fill: #888;
  stroke: none;
}

.linkTextFocus
{
  fill: #000;
}

.predicateArrow
{
  text-anchor: start;
  fill: lightgrey;
}

.nodeCircle
{
  fill: #eee;
}

.circleText
{
  fill: #888;
  text-anchor: middle;
}

.circleTextFocus
{
  fill: #000;
  text-anchor: middle;
}
